@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --primary-color: #161F28;
    --secondary-color: #DEE1E3;
    --third-color: #FFA500;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    scroll-behavior: smooth;
}
main, header {
    background-color: var(--secondary-color);
}
main {
    padding: 2vh 5vw;
}
.main-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    
    color: transparent;
    background-image: linear-gradient(to right, var(--secondary-color), var(--third-color)); /* Border color using gradient */
    -webkit-background-clip: text;
    background-clip: text;
    border: 3px solid #FFA500;
    padding: 10px;
    border-radius: 5px;
}
nav {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin: 0 2vw;
    border: var(--third-color) 1px solid;
    border-radius: 10px;
    padding: 1vh;
    transition: all 0.5s ease;
}
nav ul li:hover{
    background-color: var(--third-color);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
article {
    border-radius: 20px;
    border: var(--third-color) 2px solid;
    background-color: var(--primary-color);
    margin-bottom: 5vh;
    padding: 1rem;
}
/* Footer */
footer {
    color: #ecf0f1; 
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-size: 14px; 
    line-height: 1.5; 
}
h2 {
    text-align: center;
}
/* Main */
.main {
    display: flex;
    gap: 5vw;
    padding-right: 9vw;
}
.who-is-he {
    padding: 2vh 5vw;
    margin-bottom: 5vh;
    flex: 4;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1vw;
}
.genres {
    flex: 1;
    padding-left: 2vw;
    line-height: 3vh;
}

.cv {
    padding: 2vh 5vw;
    width: 80vw;
}
.cv ul li {
    margin-left: 2vw; /* Créer la marge */
}
.image-container {
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 20vw;
}
.subaru-image {
    width: 20vw;
}

.synopsis h2 {
    text-align: center;
    text-transform: uppercase;
}

/* Formulaire de contact */
#contact {
    margin: 50px auto;
    padding: 30px;
}
.contact-title {
    text-align: center;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-group input,
.input-group textarea {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.input-group textarea {
    resize: vertical;
}
.submit-btn {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 30vw;
    padding: 12px;
    font-size: 16px;
    background-color: var(--primary-color);
    border: var(--third-color) 2px solid;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.submit-btn:hover {
    background-color: var(--third-color);
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
    font-weight: bold;
}


